@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Admin panel</h1>
    <div>
    <h2>Controls: </h2>
    <a href="/coreadmin" class="btn btn-danger" role="button">Manage database</a>
    <a href="admin/users" class="btn btn-success" role="button">Manage users</a>
    </div>
</div>
