@using CollectionsPortal.Models;

@{
    if (ViewBag.items != null)
    {
        foreach (var item in (List<Item>)ViewBag.items)
        {
            <p>@item.Id</p>
        }
    }
    else
    {
        <h2>Nothing found</h2>
    }

}